$breakpoint-tablet: 768px

#about
    min-height : 200px
    background-color: black

.about
    padding:5% 5% 0 5% !important
    color: white !important

.content-area
    padding:0 !important

.card
    width: fit-content !important
    margin-left: 25%
    box-shadow: 0 0 0 0
    border-style: none

.card-img > img
    height: 500px !important
    width: auto !important

.card-block > p,h1,h2,h3,h4,h5,h6
    color: white !important
.card-block .second-heading
    margin-top: 0px !important
    font-size: 45px
.card-block .big-heading
    font-size: 75px



#education
    height: 100% * 4/5
    background-color: grey 


@media (max-width: $breakpoint-tablet)
    .about
        padding:15px !important
        color: white !important
    .card
        width: fit-content !important
        margin: 5% !important
    .card-img > img
        height: 150px !important
        width: auto !important
    .card-block .big-heading
        font-size: 45px
    .card-block .second-heading
        font-size: 20px
        margin-top: 0px !important