<clr-main-container>
    <app-header></app-header>
    <div class="content-container">
        <div class="content-area">
            <div id="about" class="about">
                <div class="clr-row">
                    <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-4 clr-col-xs-4 clr-col-4">
                        <div class="card">
                            <div class="card-img">
                                <img src="assets/me.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-8 clr-col-xs-8 clr-col-8">
                        <div class="card-block">
                            <h1 [@textStateTrigger]="textStateH1" class="big-heading">HI</h1>
                            <h1 [@textStateTrigger]="textStateH12" class="second-heading">THIS IS MAHMUTHAN</h1>
                            <p  [@textStateTrigger]="textStateP" class="card-text">
                                I've been developing Web Applications over 10 years. First i started with HTML and CSS
                                programming languages in 2008. After that i said it's not enough for me, i had to learn
                                more and more. And i started to programing with PHP and MySQL about 2011.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="education">
                <h1>Education</h1>
                <p></p>
                <h2>education info</h2>
            </div>
            <div id="works">
                <h1 class="section-title">
                    Work History
                </h1>
                <p></p>
                <h2>education info</h2>
            </div>

        </div>
    </div>
    <!-- <app-footer></app-footer> -->
</clr-main-container>